@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('coolbackgrounds-particles-oxygen.png');
}

main {
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
}
.toggle-btn {
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}
.active {
  background-color: #0078d4;
  color: white;
}
.hidden {
  display: none;
}
select {
  padding: 6px;
  margin: 10px 0;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
}
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
